<%include ./partials/header%>
<div class="ui centered card" id="profile">
  <div class="image">
    <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
  </div>
  <div class="content">
    <a class="header"><%=currentUser.username%></a>
  </div>
</div>
<%include ./partials/footer%>